<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4 offset4">
            <h1 id="header">All Topics </h1>    
        </div>    
    </div>
</div>


<%if @topics.any?%>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" id="posts_panel">
                <div class="panel-heading">
                <h2>All Topics</h2>
                </div>
                <div class="panel-body" >
                    <%@topics.each do |topic|%>
                    <div class="container" id="posts_topic_show">  
                    <div class="row">
                        <div class="col-md-3" id="date">created <%=time_ago_in_words(topic.created_at)%> ago</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" id="post_content"><%=topic.name %></div>
                        </div>
                    <div class="row">
                        <div class="col-md-3" id="author">by <%=topic.topic_author%></div>
                    </div>


                    <div class="row-fluid">
                        <div class="col-md-4" id="author">
                            <%if user_signed_in? and current_user.id==topic.user_id  %>

                            <div class="btn-group" id="author">
                                <button type="button" class="btn btn-default"><%=link_to "Delete",topic , method: :delete, confirm: "Are You sure?"%></button>
                                 <button type="button" class="btn btn-default"> <%=link_to "Edit",edit_topic_path(topic)%></button>
                                 <button type="button" class="btn btn-default"> <%=link_to "Show",topic_path(topic)%></button>
                            </div>
                            <%else%>
                              <button type="button" class="btn btn-default"> <%=link_to "Show",topic_path(topic)%></button>
                            <%end%>
                        </div>
                </div>
                </div>
                <%end%>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h2>New Topics</h2>
                </div>
                <div class="panel-body" >
                    <%@newtopics.each do |newtopic|%>
                    <div class="container" id="posts_topic_show">  
                    
                    <div class="row">
                        <div class="col-md-6" id="post_content"><%=link_to "#{newtopic.name}", topic_path(newtopic) %></div>
                        </div>
                    <div class="row">
                        <div class="col-md-12" id="author">created <%=time_ago_in_words(newtopic.created_at)%> ago by <%=newtopic.topic_author%></div>
                    </div>
                   
                </div>
                <%end%>

                </div>
            </div>
        </div>
    </div>
</div>

<%end%>


<%= will_paginate %>

