<div class="container">
<h1>All Topics</h1>
<div class="container">
 <table class="table table-bordered">
 <tr>
	<th>Topic Name</th>
	<th>Created From</th>
	<th>Updated</th>
</tr>
  <% @topics.each do |topic| %>
  <tr class="topics" id="showing_topics">

    <td><%= link_to topic.name,topic_path(topic),{:style => 'color: #000000',:class => "css_class"}%></td>
    <td><%=topic.user_id%></td>
    <td><%=topic.updated_at%></td>
</tr>
<% end %>
</table>
</div>
</div>
<div class="row-fluid" id="mybox">
	<div class="span4">
	<li ><%= link_to "Back", :back %></li>
    <li><%= link_to "New Topic", new_topic_path %></li>

</div>
</div>