<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 offset4">
			<h1 id="header"><%= @topic.name %> </h1> 	
		</div>    
	</div>
</div>


<%if @topic.posts.any?%>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 offset4">
			<h1 id="header">All Posts </h1> 	
		</div>    
	</div>
</div>
	
<div class="container" id="posts_container">
<div class="row" id="post_header">	 
		<div class="span3">Post Preview</div>
		<div class="span3">Created From</div>
		<div class="span3">Posted </div>
		<div class="span3">Actions </div>
	</div>
		<%=render @posts%>		
		
<%end%>


</div>
<div class='border-form-div'>
		<%=form_for([@topic,Post.new], remote: true) do |f|%>
		<p >
			<%=f.label :content, "New Post"%></br>
			<%=f.text_area :content%>
		</p>
		<p><%=f.submit "Add Post", class: "btn btn-large btn-primary"%><%= link_to "Back", :back, class: "btn btn-large btn-primary" %></p>

		<%end%>

</div>



<%= will_paginate @posts%>

