<h1>My Topic</h1>
<h2><%= @topic.name %> created by <%=User.find_by_id(@topic.user_id).email%></h2>
<div class="container">
<h1>All Posts</h1>
<div class="container">
 <table class="table table-bordered">
	 <tr>
		<th>Post</th>
		<th>Created From</th>
	</tr>
	
	<% for post in @topic.posts %>
		<tr>
		    <td><%= post.content %></td>
		    <td><%=User.find_by_id(post.user_id).email%></td>
	    </tr>
    <% end %>
		
</table>
</div>
</div>
<div class="row-fluid" id="mybox">
	<div class="span4">
	<li ><%= link_to "Back", :back %></li>
    <li><%=link_to "create a new post",new_topic_post_path(@topic)%>
</li>

</div>




