<h1>My Topic</h1>
<h2><%= @topic.name %> created by <%=@topic.topic_author%></h2>
<div class="container">
<h1>All Posts</h1>
<div class="container">
 <table class="table table-bordered" id="posts">
	 <tr>
		<th>Post</th>
		<th>Created From</th>
		<th>Posted </th>
	</tr>
	
	<% @topic.posts.each do |post| %>
		 <%=render :partial=> @topic.posts.reverse%>
	<% end %>
</table>
</div>
</div>

<%=form_for([@topic,Post.new], remote: true) do |f|%>
<p>
	<%=f.label :content, "New Post"%></br>
	<%=f.text_area :content%>
</p>
<p><%=f.submit "Add Post"%></p>
<%end%>

<div class="row-fluid" id="mybox">
	<div class="span4">
	<li ><%= link_to "Back", :back %></li>
    <li><%=link_to "create a new post",new_topic_post_path(@topic)%>
</li>

</div>




