<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4 offset4">
			<h1 id="header"><%= @topic.name %> </h1> 	
		</div>    
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
				<h2><%= @topic.name %> Posts</h2>
				</div>

				<div class="panel-body" >
					<%if @topic.posts.any?%>
					<div class="container" id="ajax_posts_show">
					<%=render @posts%>	
				    </div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<%if user_signed_in?%>
<div class="container-fluid">
<div class="row-fluid">
<div class='border-form-div'>
		<%=form_for([@topic,Post.new], remote: true) do |f|%>
		<p >
			<%=f.label :content, "New Post"%></br>
			<%=f.text_area :content%>
		</p>
		<p><%=f.submit "Add Post", class: "btn btn-lg btn-primary"%><%= link_to "Back", :back, class: "btn btn-lg btn-primary" %></p>

		<%end%>
</div>
</div>
</div>
</div>
<%end%>


<%= will_paginate @posts%>

