<div class="row">
	<div class="col-md-12" id="user_header">
		Hey i am <%=cut_name(@user.email)%>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%if @user.posts.count>0 %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>My Latest Posts</h2>
				</div>
				<div class="panel-body">
					<%@mylatestposts.each do |post|%>
					 <div class="container" id="posts_show">			 
					 		<div id="labeltop"><%=link_to "Browse Topic",topic_path(post.topic_id)%></div>
					 		<div id="content"><%=post.content%></div>					 		
					 		<div id="labeltop">created  <%=time_ago_in_words(post.updated_at)%> ago </div>					 	
					 </div>
					<%end%>
				</div>
			</div>
			<%else%>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>No posts at all</h2>
				</div>
			</div>
			<%end%>

		</div>
		<div class="col-md-6">
			<%if @user.topics.count>0 %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>My Topics</h2>
				</div>
				<div class="panel-body">
					<%@user.topics.each do |topic|%>
					 <div class="container" id="posts_show">		 	
					 		<div id="labeltop"><%=link_to "Browse Topic",topic_path(topic)%></div>	 		

					 		<div id="content"><%=link_to "#{topic.name}",topic_path(topic)%></div>
					 		
					 		<div id="labeltop">created  <%=time_ago_in_words(topic.updated_at)%> ago</div>					 		

					 	</div>
					<%end%>

				</div>
			</div>
			<%else%>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>No Topics created</h2>
				</div>
			</div>
			<%end%>
		</div>

