<h1><%="#{@user.email.split('@')[0]}"%></h1>
<p>Here is a list of the Topic i've created</p>
<div class="container">
<table class="table table-striped">
	<tr>
		<th>Topic Name</th>
		<th>Created At</th>
	</tr>
	  <% @user.topics.each do |topic| %>
	  <tr class="topics" >
	    <td><%= topic.name %></td>
	    <td><%= topic.created_at%></td>   
	  </tr>
	<% end %>

	</table>
</div>




<div class="container">
<%=link_to "Create a new Topic", new_topic_path%>
<%= link_to "Change your password", edit_user_registration_path %>
<%= link_to "Back", :back %>
</div>