			
			<%=div_for post do%>
			<div class="row" id="post_box">
			    <div class="span3" id="post_content"><%= post.content %></div>
			    <div class="span3"><%=post.post_author%></div>
			    <div class="span3"><%=time_ago_in_words(post.created_at)%> ago</div>
				<div class="span3"><%=link_to "Show", topic_post_path(@topic, post), :class => 'btn' %>
	            	<%if user_signed_in? and current_user.id==post.user_id  %>
	            <%=link_to "Delete",topic_post_path(@topic,post) , method: :delete, confirm: "Are You sure?", :class => 'btn'%>
	            <%=link_to "Edit",edit_topic_post_path(@topic, post), :class => 'btn' %>
	            <%end%>
	        	</div>
	        	</div>
			<%end%>
