<div class="container" >
    <div class="row" >

   	<%if user_signed_in? and current_user.id==post.user_id  %>
		<div class="btn-group col-md-2" id="edit_delete">
           <%=link_to "Delete",topic_post_path(@topic,post), method: :delete, confirm: "Are You sure?", class:"btn btn-default", remote: true %>
              
           <%=link_to "Edit",edit_topic_post_path(@topic, post),class: "btn btn-default"%>
        </div>	
        <div class="score_value_container">
		  	<div class="row-fluid ">
		  		<div class="col-md-1 col-md-offset-7" id="unvote" >
		  		<%if user_signed_in? and find_vote(post)%>	
					    <%=link_to "Unvote",find_vote(post), method: :delete, confirm: "Are you Sure?", class:"btn"%>
				<%end%> 
			    </div>
			    <div class="btn-group col-md-2">
			  	<%if user_signed_in?%>
					<div  id="vote">
					  <%=form_for Vote.new do |f| %>
 					  <%= f.button :button do %> <i class="glyphicon glyphicon-thumbs-down"></i>
					  <% end %>
					  <%=f.hidden_field  :post_id ,value: post.id.to_i %>
					  <%=f.hidden_field  :vote_value ,value: 0.to_i %>
					  <% end %>     
					</div>
					<div id="vote">
					    <%=form_for Vote.new do |f| %>
					  		<%= f.button :button do %> <i class="glyphicon glyphicon-thumbs-up"></i>
					  		<%end%>
					       <%=f.hidden_field  :post_id ,value: post.id.to_i %>
					       <%=f.hidden_field  :vote_value ,value: 1.to_i %>
					       <% end %>	
					</div>		
				<%end%>
				
		</div>	<!--end of button group-->  
		    </div>
    
		
  </div>
        
    <%else%>
    <div class="col-md-1 col-md-offset-9" id="unvote">
		  		<%if user_signed_in? and find_vote(post)%>	
					    <%=link_to "Unvote",find_vote(post), method: :delete, confirm: "Are you Sure?", class:"btn btn-default"%>
				<%end%> 
			    </div>
            <div class="btn-group col-md-2">
			  	<%if user_signed_in?%>
					<div  id="vote">
					  <%=form_for Vote.new do |f| %>
					  <%= f.button :button do %> <i class="glyphicon glyphicon-thumbs-down"></i>
					  <% end %>
					  <%=f.hidden_field  :post_id ,value: post.id.to_i %>
					  <%=f.hidden_field  :vote_value ,value: 0.to_i %>
					  <% end %>     
					</div>
					<div id="vote">
					    <%=form_for Vote.new do |f| %>
					  		<%= f.button :button do %> <i class="glyphicon glyphicon-thumbs-up"></i>
					  		<%end%>
					       <%=f.hidden_field  :post_id ,value: post.id.to_i %>
					       <%=f.hidden_field  :vote_value ,value: 1.to_i %>
					       <% end %>	
					</div>		
				<%end%>
				
		</div>	<!--end of button group-->  
    <%end%>  
   </div>   
  </div> 
	<%end%>